body {text-align: center;}
h1 {color: magenta; font-style: normal; font-size:xx-large; font-weight: bolder;text-align: center;}
#logo_iron_man {width: 200px;height: 200px;}
p {font-style: normal;font-size: large;text-align: justify;padding: 30px; padding-top: 5px; padding-bottom: 5px;margin: 30px;}