h1 {color: green; font-style: normal; font-size:xx-large; font-weight: bolder;text-align: center;}
#logo_thor {width: 300px;display: block;margin: auto;}
p {font-style: normal;font-size: large;text-align: justify;padding: 30px; padding-top: 5px; padding-bottom: 5px;margin: 30px;}